openapi: 3.0.3
info:
  title: Midnight API
  version: "0"
  description: |
    Instant REST API access to the Midnight blockchain.

    Query blocks, transactions, addresses, contracts, DUST generation and a
    raw ledger-event feed over plain REST. No API key, no signup required.

    Every successful response carries `results` plus the indexed chain tip at
    the time the request was served, so a client can tell how fresh a
    response is:

    ```json
    { "results": { "...": "endpoint-specific payload" }, "tip": { "height": 291741, "hash": "0x..." } }
    ```

    Paginated collection endpoints add a third field, `next_cursor`, present
    (a string) while there's a further page and `null` once exhausted; pass
    it back as the `cursor` query parameter to continue. Point lookups and
    unpaginated full-list endpoints never include `next_cursor` at all, there
    being no further page to fetch:

    ```json
    { "results": [{ "...": "..." }], "tip": { "height": 291741, "hash": "0x..." }, "next_cursor": "nf1...eyJ..." }
    ```

    Errors use a flat envelope instead:

    ```json
    { "status_code": 404, "error": "Not Found", "message": "transaction not found" }
    ```
  license:
    name: Apache-2.0
    url: https://github.com/mmahut/nightfrost/blob/main/LICENSE

security: []

servers:
  - url: https://mainnet.nightfrost.dev/api/v0
    description: Mainnet
  - url: https://preprod.nightfrost.dev/api/v0
    description: Preprod
  - url: https://preview.nightfrost.dev/api/v0
    description: Preview

tags:
  - name: Network
    description: Node identity, sync progress and aggregate counters.
  - name: Blocks
    description: Block lookups and the transactions in a block.
  - name: Transactions
    description: Transaction detail, its UTXOs, and its ledger events.
  - name: Addresses
    description: Unshielded balances, UTXOs, and transaction history for an address.
  - name: Contracts
    description: Contract state, balances, call history, and per-contract events.
  - name: DUST
    description: cNIGHT registrations and DUST generation status.
  - name: Ledger events
    description: A cursor-ordered feed of every ledger event, across all categories.
  - name: Submission
    description: Submit a signed transaction to the network.

paths:
  /network:
    get:
      tags: [Network]
      summary: Network identity
      operationId: getNetwork
      responses:
        "200":
          description: Network identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkEnvelope"

  /sync-status:
    get:
      tags: [Network]
      summary: Indexer sync progress
      operationId: getSyncStatus
      responses:
        "200":
          description: Sync progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncStatusEnvelope"

  /stats:
    get:
      tags: [Network]
      summary: Aggregate counters
      operationId: getStats
      responses:
        "200":
          description: Aggregate counters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsEnvelope"

  /blocks/latest:
    get:
      tags: [Blocks]
      summary: The most recently indexed block
      operationId: getLatestBlock
      responses:
        "200":
          description: Latest block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockEnvelope"

  /blocks/{id}:
    get:
      tags: [Blocks]
      summary: A block by height or hash
      operationId: getBlock
      parameters:
        - $ref: "#/components/parameters/BlockId"
      responses:
        "200":
          description: Block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /blocks/{id}/txs:
    get:
      tags: [Blocks]
      summary: Transaction hashes included in a block
      operationId: getBlockTransactions
      parameters:
        - $ref: "#/components/parameters/BlockId"
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Transaction hashes, most recent depending on order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashListEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /txs/{hash}:
    get:
      tags: [Transactions]
      summary: Transaction detail
      operationId: getTransaction
      parameters:
        - $ref: "#/components/parameters/TxHash"
      responses:
        "200":
          description: Transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /txs/{hash}/utxos:
    get:
      tags: [Transactions]
      summary: Unshielded UTXOs consumed and produced by a transaction
      operationId: getTransactionUtxos
      parameters:
        - $ref: "#/components/parameters/TxHash"
      responses:
        "200":
          description: Transaction UTXOs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxUtxosEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /txs/{hash}/events:
    get:
      tags: [Transactions]
      summary: Ledger events emitted by a transaction
      operationId: getTransactionEvents
      parameters:
        - $ref: "#/components/parameters/TxHash"
      responses:
        "200":
          description: Events emitted by the transaction, in emission order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxEventListEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /addresses/{addr}:
    get:
      tags: [Addresses]
      summary: Unshielded token balances for an address
      operationId: getAddressBalances
      parameters:
        - $ref: "#/components/parameters/Address"
      responses:
        "200":
          description: Balances, one entry per token type ever held
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceListEnvelope"

  /addresses/{addr}/utxos:
    get:
      tags: [Addresses]
      summary: Unspent UTXOs owned by an address
      operationId: getAddressUtxos
      parameters:
        - $ref: "#/components/parameters/Address"
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Unspent UTXOs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UtxoListEnvelope"

  /addresses/{addr}/utxos/{token_type}:
    get:
      tags: [Addresses]
      summary: Unspent UTXOs owned by an address, filtered to one token type
      operationId: getAddressUtxosByToken
      parameters:
        - $ref: "#/components/parameters/Address"
        - name: token_type
          in: path
          required: true
          description: 32-byte token type identifier, hex-encoded.
          schema:
            type: string
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Unspent UTXOs of the given token type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UtxoListEnvelope"

  /addresses/{addr}/txs:
    get:
      tags: [Addresses]
      summary: Transaction hashes touching an address
      operationId: getAddressTransactions
      parameters:
        - $ref: "#/components/parameters/Address"
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Transaction hashes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashListEnvelope"

  /contracts:
    get:
      tags: [Contracts]
      summary: All deployed contracts
      operationId: getContracts
      parameters:
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Contracts, ordered by address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractListEnvelope"

  /contracts/{addr}:
    get:
      tags: [Contracts]
      summary: Contract summary
      operationId: getContract
      parameters:
        - $ref: "#/components/parameters/ContractAddress"
      responses:
        "200":
          description: Contract summary, including its latest balances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /contracts/{addr}/state:
    get:
      tags: [Contracts]
      summary: Latest raw contract state
      operationId: getContractState
      parameters:
        - $ref: "#/components/parameters/ContractAddress"
      responses:
        "200":
          description: Latest contract state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractStateEnvelope"
        "404":
          $ref: "#/components/responses/NotFound"

  /contracts/{addr}/actions:
    get:
      tags: [Contracts]
      summary: Deploy, call and update history for a contract
      operationId: getContractActions
      parameters:
        - $ref: "#/components/parameters/ContractAddress"
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Contract actions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractActionListEnvelope"

  /contracts/{addr}/events:
    get:
      tags: [Contracts]
      summary: Ledger events emitted by a contract
      operationId: getContractEvents
      parameters:
        - $ref: "#/components/parameters/ContractAddress"
        - name: from
          in: query
          description: Skip ledger events before this global event id.
          schema:
            type: integer
            format: uint64
            default: 0
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Events emitted by this contract
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEventListEnvelope"

  /dust/registrations:
    get:
      tags: [DUST]
      summary: All cNIGHT to DUST address registrations
      operationId: getDustRegistrations
      description: >
        Current-state pagination: reflects the latest known state of each
        registration at request time, not a tip-consistent snapshot.
      parameters:
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Registrations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationListEnvelope"

  /dust/registrations/{stake_key}:
    get:
      tags: [DUST]
      summary: Registrations for one Cardano stake key
      operationId: getDustRegistrationsByStake
      parameters:
        - $ref: "#/components/parameters/StakeKey"
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Registrations for this stake key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationListEnvelope"

  /dust/generation-status/{stake_key}:
    get:
      tags: [DUST]
      summary: DUST generation status for a Cardano stake key
      operationId: getDustGenerationStatus
      description: >
        Unregistered keys are a 200 with `registered: false`, matching the
        official Midnight indexer rather than a 404.
      parameters:
        - $ref: "#/components/parameters/StakeKey"
      responses:
        "200":
          description: Generation status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DustGenerationStatusEnvelope"

  /ledger-events:
    get:
      tags: [Ledger events]
      summary: Every ledger event, across zswap, DUST and contract categories
      operationId: getLedgerEvents
      parameters:
        - name: from
          in: query
          description: Skip events before this global event id.
          schema:
            type: integer
            format: uint64
            default: 0
        - $ref: "#/components/parameters/Count"
        - $ref: "#/components/parameters/Order"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Ledger events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListEnvelope"

  /tx/submit:
    post:
      tags: [Submission]
      summary: Submit a signed transaction
      operationId: submitTransaction
      description: >
        The body is the raw ledger transaction, hex-encoded (optionally
        `0x`-prefixed) by default, or raw bytes when `Content-Type:
        application/octet-stream` is set. Proxied to the node as an unsigned
        `Midnight.send_mn_transaction` extrinsic; the transaction itself must
        already be fully signed and proven.
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              example: "0x1a2b3c..."
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx_hash:
                    type: string
                    description: 32-byte transaction hash, hex-encoded.
                required: [tx_hash]
        "400":
          description: Malformed body, or the node rejected the transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  parameters:
    BlockId:
      name: id
      in: path
      required: true
      description: Decimal block height, or 32-byte block hash (hex).
      schema:
        type: string
      example: "291741"
    TxHash:
      name: hash
      in: path
      required: true
      description: 32-byte transaction hash, hex-encoded.
      schema:
        type: string
    Address:
      name: addr
      in: path
      required: true
      description: 32-byte unshielded address, hex or bech32m (`mn_addr...`).
      schema:
        type: string
    ContractAddress:
      name: addr
      in: path
      required: true
      description: Contract address, hex-encoded.
      schema:
        type: string
    StakeKey:
      name: stake_key
      in: path
      required: true
      description: 29-byte Cardano stake key, hex or bech32 (`stake1...`).
      schema:
        type: string
    Count:
      name: count
      in: query
      description: Page size.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
    Order:
      name: order
      in: query
      description: Sort direction.
      schema:
        type: string
        enum: [asc, desc]
        default: asc
    Cursor:
      name: cursor
      in: query
      description: >
        Opaque pagination token from a previous response's `next_cursor`.
        Bound to the exact same query (path, filters and order) it was issued
        for, and to the chain tip at the time of the first request in the
        sequence.
      schema:
        type: string

  responses:
    NotFound:
      description: No such resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
        error:
          type: string
        message:
          type: string
      required: [status_code, error, message]

    Tip:
      type: object
      nullable: true
      properties:
        height:
          type: integer
          format: uint64
        hash:
          type: string
      required: [height, hash]

    Network:
      type: object
      properties:
        network_id:
          type: string
          example: mainnet
        node_url:
          type: string
        genesis_hash:
          type: string
          nullable: true
      required: [network_id, node_url]
    NetworkEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/Network"

    SyncStatus:
      type: object
      properties:
        indexed_height:
          type: integer
          format: uint64
          nullable: true
        node_height:
          type: integer
          format: uint64
          nullable: true
        percentage:
          type: number
          nullable: true
        caught_up:
          type: boolean
      required: [caught_up]
    SyncStatusEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/SyncStatus"

    Stats:
      type: object
      properties:
        total_transactions:
          type: integer
          format: uint64
        total_contract_actions:
          type: integer
          format: uint64
        total_ledger_events:
          type: integer
          format: uint64
        total_contracts:
          type: integer
          format: uint64
      required: [total_transactions, total_contract_actions, total_ledger_events, total_contracts]
    StatsEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/Stats"

    Block:
      type: object
      properties:
        hash:
          type: string
        height:
          type: integer
          format: uint64
        parent_hash:
          type: string
        timestamp:
          type: integer
          format: uint64
          description: Unix milliseconds.
        protocol_version:
          type: integer
        author:
          type: string
          nullable: true
          description: Null for the genesis block.
        tx_count:
          type: integer
        zswap_merkle_tree_root:
          type: string
        ledger_state_root:
          type: string
          nullable: true
      required:
        - hash
        - height
        - parent_hash
        - timestamp
        - protocol_version
        - tx_count
        - zswap_merkle_tree_root
    BlockEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/Block"

    Tx:
      type: object
      properties:
        hash:
          type: string
        block_height:
          type: integer
          format: uint64
        block_hash:
          type: string
        block_time:
          type: integer
          format: uint64
        index:
          type: integer
          description: Position of the transaction within its block.
        variant:
          type: string
          enum: [Regular, System]
        status:
          type: string
          enum: [success, partial_success, failure]
        segments:
          type: array
          nullable: true
          description: Present only when status is partial_success.
          items:
            type: array
            items: {}
            minItems: 2
            maxItems: 2
        paid_fees:
          type: string
          description: u128, as a decimal string.
        estimated_fees:
          type: string
        identifiers:
          type: array
          items:
            type: string
        utxo_created_count:
          type: integer
        utxo_spent_count:
          type: integer
        event_count:
          type: integer
        contract_action_count:
          type: integer
      required:
        - hash
        - block_height
        - block_hash
        - block_time
        - index
        - variant
        - status
        - paid_fees
        - estimated_fees
        - identifiers
        - utxo_created_count
        - utxo_spent_count
        - event_count
        - contract_action_count
    TxEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/Tx"

    Utxo:
      type: object
      properties:
        owner:
          type: string
        token_type:
          type: string
        value:
          type: string
          description: u128, as a decimal string.
        intent_hash:
          type: string
        output_index:
          type: integer
        ctime:
          type: integer
          format: uint64
          nullable: true
        registered_for_dust_generation:
          type: boolean
      required:
        - owner
        - token_type
        - value
        - intent_hash
        - output_index
        - registered_for_dust_generation
    TxUtxos:
      type: object
      properties:
        hash:
          type: string
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/Utxo"
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/Utxo"
      required: [hash, inputs, outputs]
    TxUtxosEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/TxUtxos"
    UtxoListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/Utxo"

    Event:
      type: object
      description: >
        `attributes` is a tagged union with one shape per ledger event kind
        (zswap input/output, DUST generation, contract calls, and more); see
        the `raw` field for the underlying encoded event if a shape isn't
        covered here.
      properties:
        id:
          type: integer
          format: uint64
        grouping:
          type: string
          enum: [Zswap, Dust, Contract]
        attributes:
          type: object
          additionalProperties: true
        raw:
          type: string
          description: The raw encoded event, hex-encoded.
        tx_id:
          type: integer
          format: uint64
        block_height:
          type: integer
          format: uint64
      required: [id, grouping, attributes, raw, tx_id, block_height]
    TxEventListEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/Event"
    EventListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/Event"

    ContractEvent:
      allOf:
        - $ref: "#/components/schemas/Event"
        - type: object
          properties:
            tx_hash:
              type: string
            contract_address:
              type: string
            contract_action_id:
              type: integer
              format: uint64
              nullable: true
              description: >
                Id of the emitting contract call under
                `/contracts/{addr}/actions`. Null when several calls in the
                same transaction share address and entry point and cannot be
                distinguished.
          required: [tx_hash, contract_address]
    ContractEventListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/ContractEvent"

    Balance:
      type: object
      properties:
        token_type:
          type: string
        amount:
          type: string
          description: u128, as a decimal string.
      required: [token_type, amount]
    BalanceListEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/Balance"

    HashListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                type: string

    Contract:
      type: object
      properties:
        address:
          type: string
        deploy_action_id:
          type: integer
          format: uint64
        latest_action_id:
          type: integer
          format: uint64
        latest_action_type:
          type: string
          enum: [deploy, call, update]
        latest_block_height:
          type: integer
          format: uint64
        balances:
          type: array
          items:
            $ref: "#/components/schemas/Balance"
      required:
        - address
        - deploy_action_id
        - latest_action_id
        - latest_action_type
        - latest_block_height
        - balances
    ContractEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/Contract"

    ContractListItem:
      type: object
      properties:
        address:
          type: string
        deploy_action_id:
          type: integer
          format: uint64
        latest_action_id:
          type: integer
          format: uint64
      required: [address, deploy_action_id, latest_action_id]
    ContractListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/ContractListItem"

    ContractState:
      type: object
      properties:
        address:
          type: string
        block_height:
          type: integer
          format: uint64
        state:
          type: string
          description: Raw contract state, hex-encoded.
      required: [address, block_height, state]
    ContractStateEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/ContractState"

    ContractAction:
      type: object
      properties:
        id:
          type: integer
          format: uint64
        type:
          type: string
          enum: [deploy, call, update]
        entry_point:
          type: string
          nullable: true
          description: Present only when type is call.
        tx_hash:
          type: string
        block_height:
          type: integer
          format: uint64
      required: [id, type, tx_hash, block_height]
    ContractActionListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/ContractAction"

    Registration:
      type: object
      properties:
        cardano_stake_key:
          type: string
        dust_address:
          type: string
        valid:
          type: boolean
        registered_at_height:
          type: integer
          format: uint64
        removed_at_height:
          type: integer
          format: uint64
          nullable: true
        utxo_id:
          type: string
          nullable: true
        utxo_index:
          type: integer
          format: uint64
          nullable: true
      required: [cardano_stake_key, dust_address, valid, registered_at_height]
    RegistrationListEnvelope:
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/Registration"

    DustGenerationStatus:
      type: object
      properties:
        cardano_stake_key:
          type: string
        registered:
          type: boolean
        dust_address:
          type: string
          nullable: true
        night_balance:
          type: string
          description: NIGHT balance backing DUST generation, in STAR, as a decimal string.
        generation_rate:
          type: string
          description: SPECK/second, as a decimal string.
        current_capacity:
          type: string
          description: Currently generated DUST, in SPECK, as a decimal string.
        max_capacity:
          type: string
          description: Maximum DUST capacity for this NIGHT balance, in SPECK, as a decimal string.
      required:
        - cardano_stake_key
        - registered
        - night_balance
        - generation_rate
        - current_capacity
        - max_capacity
    DustGenerationStatusEnvelope:
      allOf:
        - $ref: "#/components/schemas/PointEnvelope"
        - type: object
          properties:
            results:
              $ref: "#/components/schemas/DustGenerationStatus"

    # Paginated collection endpoints: next_cursor is a string while there's a
    # further page, null once exhausted.
    Envelope:
      type: object
      properties:
        tip:
          $ref: "#/components/schemas/Tip"
        next_cursor:
          type: string
          nullable: true
      required: [tip, next_cursor]

    # Point lookups and unpaginated full-list endpoints: no next_cursor field
    # at all, there being no further page to fetch.
    PointEnvelope:
      type: object
      properties:
        tip:
          $ref: "#/components/schemas/Tip"
      required: [tip]
